/* Define a cor do ponto de status aberto */
.dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: red; /* Default to red (closed) */
}

/* Adiciona cor verde para quando aberto */
.open {
    background-color: green;
}

header .profile-img {
    width: 40px;
    border-radius: 50%;
}

body {
    font-family: Arial, sans-serif;
}

/* Ajustes para centralizar a mensagem de boas-vindas */
.main-content {
    text-align: center;
}

/* Aumenta o tamanho do link do menu */
.sidebar a {
    font-size: 1.1rem;
}

/* Ajuste para o layout da sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 10;
    transition: all 0.3s;
}
